body {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

#score {
    width: 505px;
    margin: 0 auto;
}

#score-table1,
#score-table2 {
    list-style: none;
    display: inline;
    
}

#score-table1 li,
#score-table2 li {
    display: inline-block;
}


#score-table1 {
    padding: 0px;


}
.hero_select_box{
   width: 505px; 
    margin:0 auto;
    text-align:center;
    z-index: 9999;
    position:absolute;
    left: 33.5%;
/*    top: 75.6%;*/
        top: 65%;
}

#hero-library .image{
    list-style:none;
    display:inline-block;
}
#hero-library .image .fas{
    font-size:60px;
    padding:20px;
    color:#0b669f;
    cursor:pointer;
    animation: mymove 1s infinite;
    -webkit-animation: mymove 1s infinite;
}
.hidden{
    display:none!important;
}

.left, 
.right {
    display:inline-block;
}

.left{
    margin-left:10%;
}

.hero_select_box h4{
        margin-left: 38px;
        cursor:pointer;
    padding:0px;
}


/*KEYFRAMES*/

@-webkit-keyframes mymove{
 from{ transform: scaleX(0,0);}
to{ transform: scaleX(0.8,0.8);}
   
}


@keyframes mymove{
    from{ transform: scale(0.5,0.5);}
    to{ transform: scale(0.8,0.8);}
}