body {
    font-family: 'Orbitron', sans-serif !important;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#score {
    width: 505px;
    margin: 0 auto;
        visibility:hidden;
}

#score-table1,
#score-table2 {
    list-style: none;
    display: inline;

}

#score-table1 li,
#score-table2 li {
    display: inline-block;
}


#score-table1 {
    padding: 0px;
}

.hero_select_box {
    background-color: #fff;
    width: 505px;
    height: 606px;
    margin: 0 auto;
}

#hero-library {
    width: 100%;
    padding: 38% 0px 0 0;
}

#hero-library .image {
    list-style: none;
    display: inline-block;
}

#hero-library .image .fas {
    font-size: 60px;
    padding: 20px;
    color: #0b669f;
    cursor: pointer;
    animation: mymove 1s infinite;
    -webkit-animation: mymove 1s infinite;
}

.hidden {
    display: none !important;
}

.reveal {
    display: initial !important;
}

.visible{
    visibility: visible!important;
}

.left,
.right {
    display: inline-block;
}

.left {
    margin-left: 10%;
}

.hero_select_box h4 {
    cursor: pointer;
    padding: 0px;
}

canvas {
    display: none;
}

/*KEYFRAMES*/

@-webkit-keyframes mymove {
    from {
        -webkit-transform: scaleX(0, 0);
        transform: scaleX(0, 0);
    }

    to {
        -webkit-transform: scaleX(0.8, 0.8);
        transform: scaleX(0.8, 0.8);
    }

}


@keyframes mymove {
    from {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }

    to {
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
}

/*MEDIA QUERIES*/



@media screen and (min-width:320px) {
    canvas {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);

    }

    .hero_select_box {
        width: 200px;
        height: 340px;
    }

    #hero-library .image .fas {
        font-size: 37px;
        padding: 0;
    }

    #score {
        width: 300px;
    }

}

@media screen and (min-width:600px){
        canvas {
        -webkit-transform: scale(0.7, 0.7);
        transform: scale(0.7, 0.7);

    }
 
}

@media screen and (min-width:800px){
        canvas {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);

    }
 
}