body {
    position: relative;
    font-family: 'Orbitron', sans-serif !important;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

#score {
    width: 505px;
    margin: 0 auto;
    visibility: hidden;
}

#score-table1,
#score-table2 {
    list-style: none;
    display: inline;

}

#score-table1 li,
#score-table2 li {
    display: inline-block;
}


#score-table1 {
    padding: 0px;
}

#level {
    list-style: none;
    padding: 0;
    margin-top: -5px;
}

#level li {
    display: inline-block;
    padding-left: 20px;
}

#level li button {
    background-color: #eee;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

#level li button h6 {
    margin-top: 6px;
    margin-bottom: 6px;
}

#game-over {
    display: none;
    background-color: #eee;
    width: 180px;
    position: absolute;
    left: 44.5%;
    top: 40%;
}

#game-over .restart-game {
    border: none;
    background-color: #eee;
    border-radius: 10px;
    margin-bottom: 10px;
}

#game-over .restart-game:hover {
    background-color: #d8d8d8;
}

#game-over .restart-game h4 {
    cursor: pointer;
}

.hero_select_box {
    background-color: #fff;
    width: 300px;
    height: 340px;
    margin: 0 auto;
}

#hero-library {
    width: 100%;
    padding: 0;
}

#hero-library .image {
    list-style: none;
    display: inline-block;
}

#hero-library .image .fas {
    font-size: 60px;
    padding: 10px;
    color: #1c5b8f;
    cursor: pointer;
    animation: mymove 1s infinite;
    -webkit-animation: mymove 1s infinite;
}

#selector {
    font-family: 'Orbitron', sans-serif !important;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.hidden {
    display: none !important;
}

.reveal {
    display: initial !important;
}

.visible {
    visibility: visible !important;
}

.not-visible {
    visibility: hidden;
}

.left,
.right {
    display: inline-block;
}

.left {
    margin-left: 10%;
}


#controller {
    width: 200px;
    height: 120px;
    margin: 0 auto;
}

#controller .controller-list {
    list-style: none;
}

#controller .up-down {
    z-index: 1;
    padding: 0;

}

#controller .left-right {
    z-index: 10;
    padding: 0;
    margin-top: -85px;

}

#controller .left-right li {
    display: inline;
}

#controller .controller-list .fas {
    font-size: 20px;
}

#controller .left-right li .fa-arrow-alt-circle-left {
    margin-right: 80px;
}

#controller .up-down li .fa-arrow-alt-circle-up {
    margin-bottom: 80px;
}

.canvasContainer {
    width: 505px;
    height: auto;
    margin: 0 auto;
}

canvas {
    width: 100%;
    margin-top: -42px;

}

/*KEYFRAMES*/

@-webkit-keyframes mymove {
    from {
        -webkit-transform: scaleX(0, 0);
        transform: scaleX(0, 0);
    }

    to {
        -webkit-transform: scaleX(0.8, 0.8);
        transform: scaleX(0.8, 0.8);
    }

}


@keyframes mymove {
    from {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }

    to {
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
}



/*MEDIA QUERIES*/

@media screen and (min-width:320px) {
    #controller .up-down {
        margin-top: 0px;
    }

    #controller .left-right {
        margin-top: -75px;
    }

    #controller .left-right li .fa-arrow-alt-circle-left {
        margin-right: 65px;
    }

    #controller .up-down li .fa-arrow-alt-circle-up {
        margin-bottom: 60px;
    }

    .canvasContainer {
        width: 265px;
        margin-top: 30px;
    }

    #score {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
    }


    #hero-library .image .fas {
        font-size: 37px;
    }

    #score {
        width: 300px;
    }

    #game-over {
        left: 23.5%;
        top: 26%;
    }

}

@media screen and (min-width:360px) {
    .canvasContainer {
        width: 335px;
    }
}

@media screen and (min-width:375px) {
    .canvasContainer {
        width: 360px;
    }
}

@media screen and (min-width:384px) {

    #controller .left-right {
        margin-top: -75px;
    }

    #game-over {
        left: 27.5%;
        top: 26%;
    }

}

@media screen and (min-width:400px) {
    #controller .up-down {
        margin-top: 0;
    }

    .canvasContainer {
        width: 385px;
    }

}

@media screen and (min-width:500px) {
    .canvasContainer {
        width: 450px;
    }

    #controller .left-right {
        margin-top: -85px;
    }

    #controller .left-right li .fa-arrow-alt-circle-left {
        margin-right: 80px;
    }

    #controller .up-down {
        margin-top: 10px;
    }

    #controller .up-down li .fa-arrow-alt-circle-up {
        margin-bottom: 80px;
    }
}

@media screen and (min-width:600px) {
    #score {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    .canvasContainer {
        width: 550px;
    }

    #game-over {
        left: 35.5%;
        top: 31%;
    }
}

@media screen and (min-width: 700px) {
    #game-over {
        left: 37.5%;
        top: 31%;
    }
}

@media screen and (min-width: 800px) {
    #game-over {
        left: 39.5%;
        top: 31%;
    }

}

@media screen and (min-width:900px) {
    #game-over {
        left: 44.5%;
        top: 39%;
    }

}